
/*---------------------- 上下分割布局 ----------------------*/

a {
	color: #222;
}

.boso {
	width: 100%;
	height: 100%;
	margin: 0;
}

.barOut {
	width: 100%;
	height: 90%;
}

.barBody {
	width: 100%;
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}

.barBody2 {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}

/*---------------------- 按钮样式 ----------------------*/

.btn {
	display: inline-block;
	height: 100%;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	background-color: #EEE;
	box-shadow: inset 0 0 0 1px #AAA;
}

.btn1 {
	width: 100%;
}

.btn2 {
	width: 50%;
}

.btn3 {
	width: 33%;
}

.btn3m {
	width: 34%;
}

.btn4 {
	width: 25%;
}

.btns {
	background-color: transparent;
	box-shadow: none;
}

.subbtn {
	display: inline-block;
	width: 80%;
	cursor: pointer;
	font-size: 1.2rem;
	line-height: 2;
	border-radius: 5rem;
	background-color: #FF0;
	box-shadow: inset -0.2rem -0.3rem 1rem 0 #999;
}

/*---------------------- 列表样式 ----------------------*/

.mark {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	height: 3rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.txt {
	display: inline-block;
	vertical-align: middle;
	width: 65%;
	overflow: hidden;
	margin-bottom: 0.5rem;
}

.op {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	overflow: hidden;
	text-align: center;
	color: red;
	font-style: italic;
	cursor: pointer;
}
.op:hover {
	font-weight: bold;
}

.tim {
	width: 90%;
	font-style: italic;
	color: #999;
	margin: 0 auto;
}

.cover {
	background-color: #EEE;
}

.cover a {
	color: #999;
}

/*---------------------- 状态样式 ----------------------*/

/*计划扫描的 3 蓝色的问号*/
.stplan {
	background-image: url(../img/stplan.png);
}

/*与计划扫描相匹配的 1 绿色的勾勾*/
.stmatch {
	background-image: url(../img/stmatch.png);
}

/*已扫描到再覆盖的 1 灰色的绿色勾勾*/
.stcover {
	background-image: url(../img/stcover.png);
}

/*计划外扫描到的 2 黄色的灯泡或感叹号*/
.sttmp {
	background-image: url(../img/sttmp.png);
}

/*纯粹不存在的 0 红色的叉叉或问号*/
.stno {
	background-image: url(../img/stno.png);
}

/*---------------------- 用户页面 ----------------------*/

.userLeft {
	text-align: left;
}
